[submodule "plugins/xs4all_about"]
	path = plugins/xs4all_about
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-about.git
[submodule "plugins/xs4all_check"]
	path = plugins/xs4all_check
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-check.git
[submodule "plugins/xs4all_css"]
	path = plugins/xs4all_css
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-css.git
[submodule "plugins/xs4all_default"]
	path = plugins/xs4all_default
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-default.git
[submodule "plugins/xs4all_dev"]
	path = plugins/xs4all_dev
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-dev.git
[submodule "plugins/xs4all_emaillogin"]
	path = plugins/xs4all_emaillogin
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-emaillogin.git
[submodule "plugins/xs4all_greenlist"]
	path = plugins/xs4all_greenlist
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-greenlist.git
[submodule "plugins/xs4all_import"]
	path = plugins/xs4all_import
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-import.git
[submodule "plugins/xs4all_ipv6"]
	path = plugins/xs4all_ipv6
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-ipv6.git
[submodule "plugins/xs4all_logging"]
	path = plugins/xs4all_logging
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-logging.git
[submodule "plugins/xs4all_login"]
	path = plugins/xs4all_login
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-login.git
[submodule "plugins/xs4all_motd"]
	path = plugins/xs4all_motd
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-motd.git
[submodule "plugins/xs4all_nieuws_settings"]
	path = plugins/xs4all_nieuws_settings
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-news.git
[submodule "plugins/xs4all_nsa_api"]
	path = plugins/xs4all_nsa_api
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-nsa.git
[submodule "plugins/xs4all_otp"]
	path = plugins/xs4all_otp
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-otp.git
[submodule "plugins/xs4all_sieve"]
	path = plugins/xs4all_sieve
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-sieve.git
[submodule "plugins/xs4all_spam_settings"]
	path = plugins/xs4all_spam_settings
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-spamsettings.git
[submodule "plugins/xs4all_spambutton"]
	path = plugins/xs4all_spambutton
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-spambutton.git
[submodule "plugins/xs4all_virus_settings"]
	path = plugins/xs4all_virus_settings
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-virussettings.git
[submodule "plugins/xs4all_spam"]
	path = plugins/xs4all_spam
	url = git@github.xs4all.net:XS4ALL/xs4all-roundcube-spam.git
