# ignore files added to these directories
logs/*
temp/*
config/*
plugins/*/config.inc.php

# this is for the sample plugin (via composer)
plugins/rcsample
plugins/plugin_manager

# composer-related
composer.phar
vendor

# other composer plugins
plugins/contextmenu
plugins/dovecot_impersonate
plugins/keyboard_shortcuts
plugins/listcommands
plugins/message_highlight

# git-deploy files
.deploy
